<section class="container-fluid no-padding">
  <section class="row no-gutters">
    <section class="col">
      <section class="page--breadcrumb">
        <ul class="breadcrumbs breadcrumbs--list">
          <li class="breadcrumbs__item breadcrumbs__item_active">
            <a [routerLink]="['/','usuarios','listar']" class="breadcrumbs__element">Usuários</a>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <section class="row no-gutters">
    <section class="col">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Usuários</h3>
          <!-- <span class="badge badge--pdg--primary">{{ quantidadeUsuarios }}</span> -->
          <div class="box-tools pull-right">
            <a [routerLink]="['/', 'usuarios', 'novo']" class="btn--pdg btn--primary">
              <span><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
              <span class="large--screen">Novo Usuário</span>
            </a>
          </div>
        </div>
        <div class="box-body scroll--small">
          <div class="table--scroll--responsive">
            <div class="row header">
              <div class="cell col text-truncate">
                Login
              </div>
              <div class="cell col text-truncate">
                Nome
              </div>
              <div class="cell col-md-3 text-truncate">
                E-mail
              </div>
              <div class="cell col text-truncate">
                Telefone
              </div>
              <div class="cell col text-truncate">
                Status
              </div>
              <div class="cell col-md-1 text-truncate">
              </div>
            </div>
            <!-- <div class="row" *ngFor="let usuario of usuarios">
              <div class="cell col wrap--text" data-title="Login">
                {{usuario.login || "Sem login"}}
              </div>
              <div class="cell col wrap--text" data-title="Nome">
                  {{usuario.nome || "Sem nome"}} {{ usuario.sobrenome }}
              </div>
              <div class="cell col-md-3 wrap--text" data-title="E-mail">
                {{usuario.email || "Sem email"}}
              </div>
              <div class="cell col wrap--text" data-title="Telefone">
                {{usuario.telefone || "Sem telefone"}}
              </div>
              <div class="cell col wrap--text" data-title="Status">
                <pdg-bloquear-desbloquear [bloqueado]="usuario.bloqueado" (retorno)="bloquearOuDesbloquear($event, usuario)" ></pdg-bloquear-desbloquear>
              </div>
              <div class="cell col-md-1 wrap--text" data-title="Editar">
                <section class="pull-right">
                  <button type="button" class="btn-sm btn btn--primary--pdg" [mdl-tooltip]="ttpEditarUsuario" mdl-tooltip-position="bottom" [routerLink]="['/', 'usuarios', 'config']" [queryParams]="{id: usuario.id}">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                </section>
                <mdl-tooltip #ttpEditarUsuario="mdlTooltip">
                  Configurar Usuário.
                </mdl-tooltip>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </section>
</section>

<section class="row" *ngIf="carregando">
  <section class="preloader">
    <section class="loader"></section>
  </section>
</section>
