<section class="container-fluid no-padding">
  <section class="row no-gutters">
    <section class="col">
      <section class="page--breadcrumb">
        <ul class="breadcrumbs breadcrumbs--list">
          <li class="breadcrumbs__item">
            <a [routerLink]="['/','usuarios','listar']" class="breadcrumbs__element">Colaboradores</a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item_active">
            <a [routerLink]="['/','usuarios','novo']" class="breadcrumbs__element">Novo</a>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <section class="row no-gutters">
    <section class="col">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Cadastrar</h3>
        </div>
        <form id="pdg--form">
          <div class="box-body">
            <section class="row no-gutters">
              <section class="col centralizar">
                <label class="usuario--foto add--photo" for="imgUser">
                  <img id="img" src="../../../assets/img/face1.jpg" alt="Foto do Colaborador">
                  <!--<input type="file" id="imgUser" accept="image/*" name="image" class="fileupload">-->
                </label>
              </section>
            </section>
            <section class="row no-gutters">
              <section class="col-md-6 col-sm-12">
                <section class="form-group">
                  <label class="label-input100" for="colaborador">Colaborador</label>
                  <div class="wrap-input100 validate-input">
                    <input id="colaborador" class="form-control input-lg pdg--input" type="text" autofocus name="colaborador" [(ngModel)]="usuario.nome">
                    <span class="focus-input100"></span>
                  </div>
                </section>
              </section>
              <section class="col-md-6 col-sm-12">
                <section class="form-group">
                  <label class="label-input100" for="setor">Setor</label>
                  <div class="wrap-input100 validate-input">
                    <select id="setor" class="form-control input-lg pdg--input" name="setor" [(ngModel)]="usuario.setorId">
                      <option *ngFor="let setor of setores" [value]="setor.id"> {{ setor.no_setor }} </option>
                    </select>
                    <span class="focus-input100"></span>
                  </div>
                </section>
              </section>
            </section>
            <section class="row no-gutters">
              <section class="col-md-6 col-sm-12">
                <section class="form-group">
                  <label class="label-input100" for="nomeUsuario">Login</label>
                  <div class="wrap-input100 validate-input">
                    <input id="nomeUsuario" class="form-control input-lg pdg--input" type="text" autofocus name="nomeUsuario" [(ngModel)]="usuario.login">
                    <span class="focus-input100"></span>
                  </div>
                </section>
              </section>
              <section class="col-md-6 col-sm-12">
                <section class="form-group">
                  <label class="label-input100" for="perfil">Perfil</label>
                  <div class="wrap-input100 validate-input">
                    <select id="perfil" class="form-control input-lg pdg--input" name="perfil" [(ngModel)]="usuario.perfil">
                      <option value="USUARIO"> Usuário </option>
                      <option value="GERENTE"> Gerente </option>
                      <option value="ADMIN"> Administrador </option>
                    </select>
                    <span class="focus-input100"></span>
                  </div>
                </section>
              </section>
            </section>
            <hr />
          </div>
          <div class="box-footer">
            <button type="button" (click)='editarUsuario()' class="btn--pdg btn--success">Salvar</button>
            <button type="button" (click)='cancelar()' class="btn--pdg btn--danger">Cancelar</button>
          </div>
        </form>
      </div>
    </section>
  </section>
</section>

<section class="preloader" *ngIf="carregando">
  <section class="loader"></section>
</section>
