<section class="container-fluid no-padding">
  <section class="row no-gutters">
    <section class="col">
      <section class="page--breadcrumb">
        <ul class="breadcrumbs breadcrumbs--list">
          <li class="breadcrumbs__item">
            <a [routerLink]="['/','usuarios','listar']" class="breadcrumbs__element">Usuário</a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item_active">
            <a [routerLink]="['/','usuarios','senha']" class="breadcrumbs__element">Senha</a>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <section class="row no-gutters">
    <section class="col">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Alterar Senha</h3>
        </div>
        <form id="pdg--form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="box-body">

            <section class="row">
              <section class="col">
                <section class="form-group" [ngClass]="aplicaCssErro('dicaSenha')">
                  <section class="row no-gutters">
                    <section class="col">
                      <label for="dicaSenha" class="control-label label--input">Dica de Senha</label>
                    </section>
                  </section>
                  <section class="row no-gutters">
                    <section class="col">
                      <input type="text" [(ngModel)]="usuarioService.currentUser.dicaSenha" formControlName="dicaSenha" id="dicaSenha" required [pdgHighlight]="'dicaSenha'" class="form-control input-lg pdg--input">
                    </section>
                  </section>
                </section>
              </section>
            </section>
            <section class="row no-gutters">
              <section class="col-md-6 col-sm-12">
                <section class="form-group" [ngClass]="aplicaCssErro('senhaAtual')">
                  <section class="row no-gutters">
                    <section class="col">
                      <label for="senhaAtual" class="control-label label--input">Senha Atual</label>
                    </section>
                  </section>
                  <section class="row no-gutters">
                    <section class="col">
                      <input type="password" formControlName="senhaAtual" id="senhaAtual" required [pdgHighlight]="'senhaAtual'" class="form-control input-lg pdg--input">
                    </section>
                  </section>
                </section>
              </section>
              <section class="col-md-6 col-sm-12">
                <section class="form-group" [ngClass]="aplicaCssErro('senhaNova')">
                  <section class="row no-gutters">
                    <section class="col">
                      <label for="senhaNova" class="control-label label--input">Nova Senha</label>
                    </section>
                  </section>
                  <section class="row no-gutters">
                    <section class="col">
                      <input type="password" formControlName="senhaNova" id="senhaNova" required [pdgHighlight]="'senhaNova'" class="form-control input-lg pdg--input">
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn--pdg btn--success">Salvar</button>
            <button type="submit" [routerLink]="['/', 'cross', 'dashboard']" class="btn--pdg btn--danger">Cancelar</button>
          </div>
        </form>
      </div>
    </section>
  </section>
</section>
