<section class="container-fluid no-padding">
  <section class="row no-gutters">
    <section class="col">
      <section class="page--breadcrumb">
        <ul class="breadcrumbs breadcrumbs--list">
          <li class="breadcrumbs__item">
            <a  [routerLink]="['/', 'usuarios', 'listar']" [queryParams]="{id: idUsuario}" class="breadcrumbs__element">Usuários</a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item_active">
            <a  [routerLink]="['/', 'usuarios', 'config']" [queryParams]="{id: idUsuario}" class="breadcrumbs__element">Configurar</a>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <section class="row no-gutters">
    <section class="col">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Configurar Usuário</h3>
        </div>
        <form id="pdg--form">
          <div class="box-body">
            <section class="row no-gutters">
              <section class="col centralizar">
                <label class="usuario--foto edit--photo" for="imgInp">
                  <img id="imgUser" [(src)]="usuario.caminhoFoto" onError="this.src='../../../assets/img/face1.jpg'" alt="Foto do Usuário">
                  <input type="file" id="imgInp" name="imgInp" accept="image/*" (change)="imagemSelecionada($event)" class="fileupload">
                </label>
              </section>
            </section>
            <section class="row no-gutters">
              <section class="col-md-6 col-sm-12">
                <section class="form-group">
                  <section class="row">
                    <section class="col">
                      <label for="nomeUsuario" class="control-label label--input">Nome</label>
                    </section>
                  </section>
                  <section class="row">
                    <section class="col">
                      <input type="text" id="nomeUsuario" [(ngModel)]="usuario.nome" name="nomeUsuario" [pdgHighlight]="'nomeUsuario'" required class="form-control input-lg pdg--input">
                    </section>
                  </section>
                </section>
              </section>
              <section class="col-md-6 col-sm-12">
                <section class="form-group">
                  <section class="row">
                    <section class="col">
                      <label for="sobrenome" class="control-label label--input">Sobrenome</label>
                    </section>
                  </section>
                  <section class="row">
                    <section class="col">
                      <input type="text" id="sobrenome" [(ngModel)]="usuario.sobrenome" name="sobrenome" [pdgHighlight]="'sobrenome'" required class="form-control input-lg pdg--input">
                    </section>
                  </section>
                </section>
              </section>
            </section>
            <section class="row no-gutters">
              
            </section>
            <section class="row no-gutters">
              <section class="col">
                <section class="form-group">
                  <section class="row">
                    <section class="col">
                      <label for="email" class="control-label label--input">Email</label>
                    </section>
                  </section>
                  <section class="row">
                    <section class="col">
                      <input type="email" id="email" name="email" [(ngModel)]="usuario.email" [pdgHighlight]="'email'"
                             required class="form-control input-lg pdg--input">
                    </section>
                  </section>
                </section>
              </section>
            </section>
            <section class="row no-gutters">
              <section class="col-md-4 col-sm-12">
                <section class="form-group">
                  <section class="row">
                    <section class="col">
                      <label for="telefone" class="control-label label--input">Tel. Celular</label>
                    </section>
                  </section>
                  <section class="row">
                    <section class="col">
                      <input type="text" id="telefone" [(ngModel)]="usuario.telefone" name="telefone" [pdgHighlight]="'telefone'"
                             [textMask]="{mask: maskTelefone}" required class="form-control input-lg pdg--input">
                    </section>
                  </section>
                </section>
              </section>
              <section class="col-md-4 col-sm-12">
                <section class="form-group">
                  <section class="row">
                    <section class="col">
                      <label for="cnpjOuCpf" class="control-label label--input">CPF</label>
                    </section>
                  </section>
                  <section class="row">
                    <section class="col">
                      <input type="text" [(ngModel)]="usuario.cpf" id="cnpjOuCpf" name="cnpjOuCpf" [pdgHighlight]="'cnpjOuCpf'"
                             [textMask]="{mask: maskCPF}" required class="form-control input-lg pdg--input">
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </div>
          <div class="box-footer">
            <button (click)='salvar()' class="btn--pdg btn--success">Salvar</button>
            <button (click)='cancelar()' class="btn--pdg btn--danger">Cancelar</button>
          </div>
        </form>
      </div>
    </section>
  </section>
</section>

<section class="preloader" *ngIf="carregando">
  <section class="loader"></section>
</section>
