<!-- CORE CSS-->
<link href="/assets/public/css/themes/horizontal-menu/materialize.css" type="text/css" rel="stylesheet">
<link href="/assets/public/css/themes/horizontal-menu/style.css" type="text/css" rel="stylesheet">
<!-- CSS style Horizontal Nav-->
<link href="/assets/public/css/layouts/style-horizontal.css" type="text/css" rel="stylesheet">
<!-- Custome CSS-->
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="/assets/public/vendors/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet">
<link href="/assets/public/vendors/flag-icon/css/flag-icon.min.css" type="text/css" rel="stylesheet">
<link href="/assets/public/css/custom/custom.css" type="text/css" rel="stylesheet">