<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Cadastre-se
				</span>

				<label class="label-input100" for="first-name">Nome Completo</label>
				<div class="wrap-input100 validate-input">
					<input id="first-name" class="form-control input-lg pdg--input" type="text" autofocus name="userName" [(ngModel)]="usuario.no_pessoa" placeholder="ex. José Maria de Jesus">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="email">Email</label>
				<div class="wrap-input100 validate-input">
					<input id="email" class="form-control input-lg pdg--input" type="text" name="email" [(ngModel)]="usuario.no_email" placeholder="ex. exemplo@email.com">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="newLogin">Usuário</label>
				<div class="wrap-input100">
					<input id="newLogin" class="form-control input-lg pdg--input" type="text" name="login" [(ngModel)]="usuario.no_login" placeholder="ex. josemaria">
					<span class="focus-input100"></span>
				</div>

				<label class="label-input100" for="senha">Senha</label>
				<div class="wrap-input100">
					<input id="senha" class="form-control input-lg pdg--input" type="password" [(ngModel)]="usuario.nr_senha" name="password" placeholder="ex. 1234">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn" (click)="NovoCadastro()">
						<span>
							Cadastrar
							<i class="zmdi zmdi-arrow-right"></i>
						</span>
					</button>
				</div>
        <div class="text-center">
          <span class="txt1" (click)="voltarLogin()">
            Voltar para o Login
          </span>
        </div>
			</form>
		</div>
	</div>
