<section class="container-fluid no-padding">
  <section class="row no-gutters">
    <section class="col">
      <section class="page--breadcrumb">
        <ul class="breadcrumbs breadcrumbs--list">
          <li class="breadcrumbs__item">
            <a [routerLink]="['/','fornecedor','listar']" class="breadcrumbs__element">Fornecedor</a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item_active">
            <a [routerLink]="['/','fornecedor','novo']" class="breadcrumbs__element">Novo</a>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <section class="row no-gutters">
    <section class="col">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Cadastrar</h3>
        </div>
        <form id="pdg--form">
          <div class="box-body">
            <section class="row no-gutters">
              <section class="col-md-12 col-sm-12">
                <section class="form-group">
                  <section class="row">
                    <section class="col">
                      <label for="nomePlano" class="control-label label--input">Nome</label>
                    </section>
                  </section>
                  <section class="row">
                    <section class="col">
                      <input type="text" id="nomePlano" autocomplete="new-name"  name="nomePlano"  required class="form-control input-lg pdg--input">
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </div>
          <div class="box-footer">
            <button type="button"  (click)='novoFornecedor()'  class="btn--pdg btn--success">Salvar</button>
            <button type="button" (click)='cancelar()' class="btn--pdg btn--danger">Cancelar</button>
          </div>
        </form>
      </div>
    </section>
  </section>
</section>

<section class="preloader" *ngIf="carregando">
  <section class="loader"></section>
</section>
