<!-- ================================================
    Scripts
================================================ -->
<!-- jQuery Library -->
<div class="row footer">
  <span>© {{ data }} SaúdeSim | sistema desenvolvido por <i>A & A Intelligence</i></span>
</div>
<script type="text/javascript" src="/assets/public/vendors/jquery-3.2.1.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="/assets/public/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="/assets/public/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/assets/public/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/assets/public/js/custom-script.js"></script>
