.navBarColor {
  background-color: #008aa3;
}

.consultar-chamado {
  margin-left: 185px;
}

.itens-menu {
  color: #fff;
  font-size: 14px;
  height: 63px;
  padding-top: 4px;
}

.itens-menu:hover{
  border-bottom: 4px solid #fff;
}
