<div class="row">
  <div class="col s12">
    <div class="row titulo-tela">
      <h5>DETALHES DO CHAMADO</h5>
    </div>
  </div>
</div>
<div class="row chamado">
  <div class="row">
    <div class="col s7">
      <ul class="list-inline">
        <li>
          <h4 class="protocolo">#20181111222233</h4>
        </li>
        <li>
          <h3>Chamado para teste</h3>
        </li>
        <li>
          <p>(ABERTO)</p>
        </li>
      </ul>
    </div>
    <div class="col s5">
      <ul class="list-inline datas">
        <li>
          <span *ngIf="mostrarAudio">
            <audio controls>
              <!--<source [src]="pathAudio" type="audio/ogg" />-->
            </audio>
          </span>
        </li>
        <li>
          <span class="datas-titulo">Data de criação:</span>
          <span class="datas-resultado">23/10/2018 10:30:12</span>
        </li>
        <li>
          <span class="datas-titulo">Ultima atualização:</span>
          <span class="datas-resultado">23/10/2018 10:36:12</span>
        </li>
        <li>
          <span class="datas-titulo">Data de fechamento:</span>
          <span class="datas-resultado">24/10/2018 08:10:52</span>
        </li>
        <li>
          <span class="datas-titulo">Data para conclusão:</span>
          <span class="datas-resultado">24/10/2018 08:10:52</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <span>
        <b>Dados do chamado</b>
      </span>
    </div>
    <div class="col s4">
      <span>
        <b>Dados do contato</b>
      </span>
    </div>
  </div>
  <hr />
  <div class="row">
    <table class="col s8">
      <tr>
        <td class="titulo-tabela">Autor</td>
        <td>João Alberto Silva Junior</td>
        <td class="titulo-tabela">Grupo de chamados</td>
        <td>Call Center</td>
        <td class="titulo-tabela">Status</td>
        <td>Aberto</td>
      </tr>
      <tr>
        <td class="titulo-tabela">Ultima atualização</td>
        <td>23/10/2018 10:36:12</td>
        <td class="titulo-tabela">Autor última alteração</td>
        <td>Jaqueline Silva Oliveira</td>
        <td class="titulo-tabela">Tipo</td>
        <td>Retorno</td>
      </tr>
      <tr>
        <td class="titulo-tabela">Categoria</td>
        <td>Call Center</td>
        <td class="titulo-tabela">Uniqueid</td>
        <td>12345</td>
        <td class="titulo-tabela">Origem</td>
        <td>Call Center</td>
      </tr>
    </table>
    <table class="col s4">
      <tr>
        <td class="titulo-tabela">Código</td>
        <td>11445233</td>
      </tr>
      <tr>
        <td class="titulo-tabela">CPF/CNPJ</td>
        <td>000.111.222-55</td>
      </tr>
      <tr>
        <td class="titulo-tabela">Telefone</td>
        <td>(61) 3344-7472</td>
      </tr>
      <tr>
        <td class="titulo-tabela">Email</td>
        <td></td>
      </tr>
      <tr>
        <td class="titulo-tabela">Nome</td>
        <td>Joyce Allencar Araujo</td>
      </tr>
      <tr>
        <td class="titulo-tabela">Endereço</td>
        <td>Plano, rua 16 casa 08</td>
      </tr>
    </table>
  </div>
</div>

<div class="row descricao">
  <div class="row">
    <span>Descrição</span>
  </div>
  <!--<div [innerHTML]="chamado.texto" class="row">
  </div>-->
  <div class="row">
    <span>Não obstante, a constante divulgação das informações nos obriga à análise do retorno esperado a longo prazo.</span>
  </div>
</div>

<!--<div class="row descricao" *ngIf="anexos.length !== 0">
  <div class="row">
    <span>Arquivos</span>
  </div>
  <div class="row">
    <ul class="ul-anexos" *ngFor="let anexo of anexos">
      <li>
        <a (click)="downloadAnexo(chamado.id_Chamado, anexo)">{{ anexo.nome }}</a>
      </li>
    </ul>
  </div>
</div>-->

<div class="row descricao">
  <div class="row">
    <span>Arquivos</span>
  </div>
  <div class="row">
    <ul class="ul-anexos">
      an
      <li>
        <a>Carterinha.png</a>
      </li>
      <li>
        <a>Identidade.png</a>
      </li>
    </ul>
  </div>
</div>

<!--<div class="row historico" *ngIf="acoes.length > 0">
  <div>
    <span class="titulo-historico">Histórico</span>
  </div>
  <div class="row acoes" *ngFor="let acao of acoes">
    <div class="col">
      <i [ngClass]="corDoIconePorAcao(acao.acao)"></i>
    </div>
    <div class="col m11 acoes">
      <span class="data-historico"> {{ acao.data_acao | date:'dd/MM/yyyy HH:mm:ss'}}</span>
      <span class="nome-usuario">{{ acao.usuario}}</span>
      <p class="texto-historico">
        <b>Ação:</b>
        <span> {{ acao.acao }} o chamado #{{ chamado.protocolo }} para o grupo {{ acao.grupo }}</span><br />
        <b *ngIf="acao.descricao">Descrição</b>
        <span *ngIf="acao.acao != 'COMPLEMENTOU'"> {{ acao.descricao }}</span>
      </p>
    </div>
  </div>
</div>-->

<div class="row historico">
  <div>
    <span class="titulo-historico">Histórico</span>
  </div>
  <div class="row acoes">
    ac
    cl
    <div class="col">
      <i [ngClass]="corDoIconePorAcao('ABRIU')"></i>
    </div>
    <div class="col m11 acoes">
      <span class="data-historico"> 23/10/2018 10:30:12 </span>
      <span class="nome-usuario">João Alberto Silva Junior</span>
      <p class="texto-historico">
        <b>Ação:</b>
        <span> Abriu o chamado #20181111222233 para o grupo Call Center</span><br />
      </p>
    </div>
  </div>
  <div class="row acoes">
    <div class="col">
      <i [ngClass]="corDoIconePorAcao('ENCAMINHOU')"></i>
    </div>
    <div class="col m11 acoes">
      <span class="data-historico"> 24/10/2018 10:30:12 </span>
      <span class="nome-usuario">Jaqueline Silva Oliveira</span>
      <p class="texto-historico">
        <b>Ação:</b>
        <span> Reabriu o chamado #20181111222233 para o grupo Call Center</span><br />
      </p>
    </div>
  </div>
</div>

<div class="row descricao">
  <div class="row conf-btn">
    <button class="btn waves-effect conf" type="submit">Voltar</button>
    <button class="btn waves-effect conf" type="submit">Encaminhar</button>
    <button class="btn waves-effect conf" type="submit">Reinterar</button>
    <button class="btn waves-effect conf" type="submit">Alterar</button>
    <button class="btn waves-effect conf" type="submit">Finalizar</button>
  </div>
</div>
