
.chamado {
  border: 1px solid #f1f1d3;
  height: 650px;
  width: 95%;
  background-color: #f1f1d3;
  padding: 10px;
  margin-left: 11%;
  border-top: 3px solid #D2D6DD;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 15px !important;
}

.descricao {
  border: 1px solid #FFFFFF;
  height: 5%;
  width: 95%;
  background-color: #FFFFFF;
  padding: 10px;
  margin-left: 11%;
  border-top: 3px solid #D2D6DD;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 15px !important;
}

.historico {
  border: 1px solid #FFFFFF;
  height: 5%;
  width: 95%;
  background-color: #FFFFFF;
  padding: 10px;
  margin-left: 11%;
  border-top: 3px solid #D2D6DD;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  
}

.acoes {
  margin-bottom: -15px;
}


.titulo-tabela {
  font-weight: bold;
}

.audio,
.ul-anexos > li > a {
  cursor: pointer;
}

.ul-anexos > li {
  list-style-type: disc;
  margin-left: 20px;
}


table tr td {
  border: 1px solid #F4F4F4;
  font-size: 11px;
}

.datas {
  text-align: right;
  font-size: 13px;
}

.datas-titulo {
  color: #996;
}

.datas-resultado {
  color: #b00;
}

.protocolo {
  color: #844;
  font-weight: bold;
  font-size: 30px;
}


.data-historico {
  float: right;
  color: #8e8e90;
  padding: 5px;
}

.texto-historico {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 15px;
}

.nome-usuario {
  color: #72AFD2;
  font-weight: bold;
  padding: 5px;
}

.titulo-historico {
  background-color: #DD4B39;
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
}

.icon {
  font-size: 15px;
  margin-top: 45px;
  background: #00A65A;
  border: 1px solid #00A65A;
  padding: 5px;
  border-radius: 20px;
  color: white;
}

.acoes {
  margin-top: 20px;
}


.bg-green {
  color: #FFF;
  background-color: #00a65a !important;
  border-color: #00a65a;
}

.bg-blue {
  color: #FFF;
  background-color: #0073B7 !important;
  border-color: #0073B7;
}

.bg-red {
  color: #FFF;
  background-color: #DD4B39 !important;
  border-color: #DD4B39;
}

.bg-gray {
  color: #FFF;
  background-color: #a7a7a7 !important;
  border-color: #a7a7a7;
}

.bg-purple {
  color: #FFF;
  background-color: #605CA8 !important;
  border-color: #605CA8;
}

.bg-yellow {
  color: #FFF;
  background-color: #F39C12 !important;
  border-color: #F39C12;
}

.conf-btn {
  float: right;
}

.conf {
  background-color: blue !important;
  border-radius: 1px !important;
  margin-right: 3px;
}

  .conf:first-child {
    background-color: #9E9E9E !important;
    float: left !important;
  }

  .conf:nth-child(3),
  .conf:nth-child(2) {
    background-color: #5b5b61 !important;
  }

  .conf:nth-child(4) {
    background-color: #E0A800 !important;
  }

  .conf:last-child {
    background-color: #218838 !important;
  }


