<section class="container-fluid no-padding">
  <section class="row no-gutters">
    <section class="col">
      <section class="page--breadcrumb">
        <ul class="breadcrumbs breadcrumbs--list">
          <li class="breadcrumbs__item">
            <a [routerLink]="['/','planos','listar']" class="breadcrumbs__element">Planos</a>
          </li>
          <li class="breadcrumbs__item breadcrumbs__item_active">
            <a [routerLink]="['/','planos','novo']" class="breadcrumbs__element">Novo</a>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <section class="row no-gutters">
    <section class="col">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Cadastrar</h3>
        </div>
        <form id="pdg--form">
          <div class="box-body">
            <section class="col-sm-12">

              <section class="row">
                <section class="col">
                  <label for="sq_plano" class="control-label label--input">sq_plano</label>
                  <input type="text" class="form-control" id="sq_plano" [(ngModel)]="plano.sq_plano" name="plano" placeholder="sq_plano">
                </section>
                <section class="col">
                  <label for="cd_pessoa_filial" class="control-label label--input">cd_pessoa_filial</label>
                  <input type="text" class="form-control" id="cd_pessoa_filial" [(ngModel)]="plano.cd_pessoa_filial" name="cadastroPessoa"
                    placeholder="cd_pessoa_filial">
                </section>
              </section>

              <section class="row">
                <section class="col">
                  <label for="no_plano" class="control-label label--input">no_plano</label>
                  <input type="text" class="form-control" id="nomePlano" [(ngModel)]="plano.no_plano" name="nomePlano" placeholder="no_plano">
                </section>

                <section class="row">
                    <section class="col">
                      <label for="eeAtivo" class="control-label label--input">Status</label>
                    </section>
                  </section>
                  <section class="col">
                    <label class="container">
                      <input type="checkbox" id="eeAtivo" autocomplete="new-name" name="categoriaPlano" [(ngModel)]="plano.ee_ativo" value="" required class="">
                      <span class="checkmark"></span>
                    </label>
                  </section>
              </section>

            </section>
          </div>
          <div class="box-footer">
            <button type="button" (click)='novoPlano()' class="btn--pdg btn--success">Salvar</button>
            <button type="button" (click)='cancelar()' class="btn--pdg btn--danger">Cancelar</button>
          </div>
        </form>
        
      </div>
    </section>
  </section>
</section>


<section class="preloader" *ngIf="carregando">
  <section class="loader"></section>
</section>