<section class="container-fluid no-padding">
  <section class="row no-gutters">
    <section class="col">
      <section class="page--breadcrumb">
        <ul class="breadcrumbs breadcrumbs--list">
          <li class="breadcrumbs__item breadcrumbs__item_active">
            <a [routerLink]="['/','planos','listar']" class="breadcrumbs__element">Planos</a>
          </li>
        </ul>
      </section>
    </section>
  </section>
  <section class="row no-gutters">
    <section class="col">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Planos</h3>
          <span class="badge badge--pdg--primary">{{planos.length}}</span>
          <div class="box-tools pull-right">
            <a [routerLink]="['/', 'planos', 'novo']" class="btn--pdg btn--primary">
              <span><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
              <span class="large--screen">Planos novo</span>
            </a>
          </div>
        </div>
        <div class="box-body scroll--small">
          <div class="table--scroll--responsive">
            <div class="row header">
              <div class="cell col text-truncate">
                Nome do plano
              </div>
              <div class="cell col text-truncate">
                Status
              </div>
              <div class="cell col-md-1 text-truncate">
              </div>
            </div>
            <div class="row" *ngFor="let plano of planos">
              <div class="cell col wrap--text" data-title="Nome do plano">
                {{plano.no_plano}}
              </div>
              <div class="cell col wrap--text" data-title="Status">
                {{plano.ee_ativo }}
              </div>
              <div class="cell col-md-1 wrap--text" data-title="Editar">
                <section class="pull-right">
                  <button type="button" class="btn-sm btn btn--primary--pdg" [mdl-tooltip]="ttpEditarUsuario" mdl-tooltip-position="bottom" [routerLink]="['/', 'alunos', aluno.gs_pessoa.cd_pessoa, 'editar']">
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                </section>
                <mdl-tooltip #ttpEditarUsuario="mdlTooltip">
                  Editar Aluno
                </mdl-tooltip>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>

<section class="row" *ngIf="carregando">
  <section class="preloader">
    <section class="loader"></section>
  </section>
</section>
